version: "3.9"
services:
  base:
    image: "${BASE}:${TAG}"
    build:
      context: base
      dockerfile: Dockerfile
      args:
        SOURCE: "ubuntu:22.04"
    ports:
      - "8888:8888"
  gitpod:
    image: "${PREFIX}-gitpod:${TAG}"
    build:
      context: base
      dockerfile: Dockerfile
      args:
        SOURCE: "gitpod/workspace-base"
  neo4j:
    image: "${PREFIX}-neo4j:${TAG}"
    build:
      context: neo4j
      dockerfile: Dockerfile
      args:
        BASE: "${BASE}:${TAG}"
    ports:
      - "7473:7373"
      - "7474:7474"
      - "7687:7686"
  quantum:
    image: "${PREFIX}-quantum:${TAG}"
    build:
      context: quantum
      dockerfile: Dockerfile
      args:
        BASE: "${BASE}:${TAG}"
 
