--extra-index-url https://download.pytorch.org/whl/cpu

absl-py==1.4.0
    # via tensorboard
cachetools==5.3.1
    # via google-auth
captum==0.6.0
    # via -r /app/reqs/pytorch.in
certifi==2023.5.7
    # via
    #   -c /app/reqs/requirements.txt
    #   requests
charset-normalizer==3.1.0
    # via
    #   -c /app/reqs/requirements.txt
    #   requests
contourpy==1.0.7
    # via
    #   -c /app/reqs/requirements.txt
    #   matplotlib
cycler==0.11.0
    # via
    #   -c /app/reqs/requirements.txt
    #   matplotlib
filelock==3.12.0
    # via
    #   -c /app/reqs/requirements.txt
    #   huggingface-hub
    #   torch
    #   transformers
fonttools==4.39.4
    # via
    #   -c /app/reqs/requirements.txt
    #   matplotlib
fsspec==2023.5.0
    # via huggingface-hub
google-auth==2.17.3
    # via
    #   google-auth-oauthlib
    #   tensorboard
google-auth-oauthlib==1.0.0
    # via tensorboard
graphviz==0.20.1
    # via
    #   -r /app/reqs/pytorch.in
    #   torchviz
grpcio==1.54.2
    # via tensorboard
huggingface-hub==0.14.1
    # via transformers
idna==3.4
    # via
    #   -c /app/reqs/requirements.txt
    #   requests
jinja2==3.1.2
    # via
    #   -c /app/reqs/requirements.txt
    #   torch
kiwisolver==1.4.4
    # via
    #   -c /app/reqs/requirements.txt
    #   matplotlib
markdown==3.4.3
    # via tensorboard
markupsafe==2.1.2
    # via
    #   -c /app/reqs/requirements.txt
    #   jinja2
    #   werkzeug
matplotlib==3.7.1
    # via
    #   -c /app/reqs/requirements.txt
    #   captum
mpmath==1.3.0
    # via sympy
networkx==2.8.8
    # via
    #   -c /app/reqs/requirements.txt
    #   torch
numpy==1.24.3
    # via
    #   -c /app/reqs/requirements.txt
    #   captum
    #   contourpy
    #   matplotlib
    #   tensorboard
    #   torchtext
    #   torchvision
    #   transformers
oauthlib==3.2.2
    # via requests-oauthlib
packaging==23.1
    # via
    #   -c /app/reqs/requirements.txt
    #   huggingface-hub
    #   matplotlib
    #   transformers
pillow==9.5.0
    # via
    #   -c /app/reqs/requirements.txt
    #   matplotlib
    #   torchvision
protobuf==4.23.2
    # via tensorboard
pyasn1==0.5.0
    # via
    #   -c /app/reqs/requirements.txt
    #   pyasn1-modules
    #   rsa
pyasn1-modules==0.3.0
    # via
    #   -c /app/reqs/requirements.txt
    #   google-auth
pyparsing==3.0.9
    # via
    #   -c /app/reqs/requirements.txt
    #   matplotlib
python-dateutil==2.8.2
    # via
    #   -c /app/reqs/requirements.txt
    #   matplotlib
pyyaml==6.0
    # via
    #   -c /app/reqs/requirements.txt
    #   huggingface-hub
    #   transformers
regex==2023.5.5
    # via
    #   -c /app/reqs/requirements.txt
    #   transformers
requests==2.31.0
    # via
    #   -c /app/reqs/requirements.txt
    #   huggingface-hub
    #   requests-oauthlib
    #   tensorboard
    #   torchdata
    #   torchtext
    #   torchvision
    #   transformers
requests-oauthlib==1.3.1
    # via google-auth-oauthlib
rsa==4.9
    # via google-auth
six==1.16.0
    # via
    #   -c /app/reqs/requirements.txt
    #   google-auth
    #   python-dateutil
sympy==1.12
    # via torch
tensorboard==2.13.0
    # via -r /app/reqs/pytorch.in
tensorboard-data-server==0.7.0
    # via tensorboard
tokenizers==0.13.3
    # via transformers
torch==2.0.1
    # via
    #   -r /app/reqs/pytorch.in
    #   captum
    #   torchaudio
    #   torchdata
    #   torchtext
    #   torchvision
    #   torchviz
torchaudio==2.0.2
    # via -r /app/reqs/pytorch.in
torchdata==0.6.1
    # via torchtext
torchtext==0.15.2
    # via -r /app/reqs/pytorch.in
torchvision==0.15.2
    # via -r /app/reqs/pytorch.in
torchviz==0.0.2
    # via -r /app/reqs/pytorch.in
tqdm==4.65.0
    # via
    #   -c /app/reqs/requirements.txt
    #   huggingface-hub
    #   torchtext
    #   transformers
transformers==4.29.2
    # via -r /app/reqs/pytorch.in
typing-extensions==4.6.2
    # via
    #   -c /app/reqs/requirements.txt
    #   huggingface-hub
    #   torch
urllib3==2.0.2
    # via
    #   -c /app/reqs/requirements.txt
    #   requests
    #   torchdata
werkzeug==2.3.4
    # via tensorboard
wheel==0.40.0
    # via tensorboard

# The following packages are considered to be unsafe in a requirements file:
# setuptools
