# See: base/requirements.txt
-c requirements.txt

amazon-braket-sdk
amazon-braket-pennylane-plugin
amazon-braket-strawberryfields-plugin
cirq
cuquantum
openfermion
pennylane-cirq
pennylane-qiskit
pennylane-sf
pennylane
pytket
qiskit
qiskit[visualization]
qutip
strawberryfields
