amazon-braket-sdk==1.31.1
cirq==1.0.0
cuquantum==22.7.1
openfermion==1.5.1
pennylane-cirq==0.24.0
pennylane-qiskit==0.24.0
pennylane-sf==0.20.1
pennylane==0.26.0
pytket==1.7.3
qiskit==0.38.0
qiskit[visualization]==0.38.0
qutip==4.7.0
strawberryfields==0.23.0
