beautifulsoup4
black
colorama
gower
isort
jupyterlab-code-formatter
jupyterlab-git
jupyterlab-lsp
jupyterlab-scenes
jupyterlab-skip-traceback
jupyterlab-spellchecker
jupyterlab
keras
kneed
matplotlib
nltk
numpy
openpyxl
pandas
prince
python-lsp-server[all]
requests
scikit-learn
scipy
scrapy
seaborn
spacy
statsmodels
tikzplotlib
tqdm
