name: Docker Image CI

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - name: Log in to Docker Hub
      run: docker login -u ${{secrets.DOCKERHUB_USER}} -p ${{secrets.DOCKERHUB_PASSWORD}}
    - name: Check the Dockerfile
      run: ./check_docker.sh
    - name: Build the Docker image
      run: ./build_docker.sh
    - name: Push the image to Docker Hub
      run: ./push_docker.sh
