name: Docker Image CI

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:

  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Log in to Docker Hub
      env:
        DOCKER_USER: ${{secrets.DOCKERHUB_USER}}
        DOCKER_PASS: ${{secrets.DOCKERHUB_PASSWORD}}
      run: docker login -u $DOCKER_USER -p $DOCKER_PASS
    - name: Build the Docker image
      run: ./build_docker.sh
    - name: Push the image to Docker Hub
      run: ./push_docker.sh
